@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(58, 57, 57);
    color: white;
}

.header-links-list {
    display:flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

#content {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: minmax(100px, 150px) 1fr 4fr;
}


.header-container {
    grid-column: 1 / 5;
}



.main-container {
    height: 100vh;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main-background-img {
    width: 100%;
    grid-column: 1 / -1;
    
}

.main-content {
    padding: 100px;
    background-color: rgb(107, 107, 107);
    grid-column: 2 / 4;
    align-self: flex-start;
    margin-top: 40px;
}

.main-background-img, .main-content {
    grid-row: 1 / 2;
}